<template>
    <div class="container is-fluid">
        <div class="subtitle">Related Fields Summary</div>
        <div class="box">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>PM Field</th>
                        <th>SF Object</th>
                        <th>SF Field</th>
                        <th>Break</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, key) in liveFields">
                        <td>{{item.pm_fields.label}}</td>
                        <td>{{item.sf_fields.object}}</td>
                        <td>{{item.sf_fields.label}}</td>
                        <td><i class="fa fa-chain-broken unlink" v-on:click="unlink(key)" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['fields'],
        data()
        {
            return {
                liveFields: [],
            }
        },
        mounted () {
            this.liveFields = this.fields
        },
        methods: {
            unlink(id) {
                var ans = confirm("are you sure?");
                if (ans) {
                    // get the field by reference
                    var field = this.liveFields[id];
                    axios.delete("/fields/unrelate/" + field.id).then((response) => {
                        // on success
                        // remove this element from the array on success from backend
                        this.liveFields.splice(id, 1);
                    }, (error) => {
                        // on fail
                    });
                }
            }
        }
    }
</script>
<style>
    .unlink { cursor: pointer }
</style>