<template>
    <div class="container">
        <div class="tabs is-boxed">
            <ul>
            <li v-for="element in tabs" :id="element.id" :class="{'is-active' : activeTab == element.id}">
                <a href="javascript:void(0);" @click="tabClick(element.id)">{{element.name}}</a>
            </li>
        </ul>
        </div>
        <div class="tab-content">
            <component :is="tabContent" transition="fade" transition-mode="out-in" v-bind="properties"></component>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['pmfields', 'sffields', 'related', 'objects'],
        data()
        {
            return {
                tabs: [
                    {id: 'a', name: 'Summary'},
                    {id: 'b', name: 'Salesforce'},
                    {id: 'c', name: 'Portfolio Manager'},
                    {id: 'd', name: 'Settings'},
                    {id: 'e', name: 'Relate'}
                ],
                content: [
                    { id: 'a', content: 'field-summary' },
                    { id: 'b', content: 'salesforce-fields' },
                    { id: 'c', content: 'pm-fields' },
                    { id: 'd', content: 'fields-settings' },
                    { id: 'e', content: 'field-relation'}
                ],
                activeTab: 'a',
                tabContent: 'summary'
            }
        },
        methods: {
            tabClick: function (id)
            {
                this.activeTab = id;
                var content = this.content.find(function(obj) { return obj.id === id; });
                this.tabContent = content.content;
            }
        }, 
        computed: {
            properties: function () {
                if (this.tabContent === 'pm-fields') {
                    return { fields: this.pmfields };
                }
                if (this.tabContent === 'salesforce-fields') {
                    return { fields: this.sffields };
                }
                if (this.tabContent === 'field-summary') {
                    return { fields: this.related };
                }
                if (this.tabContent === 'field-relation') {
                    return { pmfields: this.pmfields, sffields: this.sffields, objects: this.objects };
                }
            }
        }
    }
</script>