<template>
    <div>
        <div class="subtitle">Relate Fields between SF and PM</div>
        <div class="columns is-expanded">
            <div class="column is-one-quarter">
                <div class="box">
                    <div class="field">
                        <label class="label">Portfolio Manger Field</label>
                        <div class="select">
                            <select v-model="pmSelectedField">
                                <option value="">Select...</option>
                                <option v-for="item in pmfields" :value="item.id">{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">
                    <div class="field">
                        <label class="label">Salesforce Object</label>
                        <div class="select">
                            <select v-model="sfSelectedObject">
                                <option value="">Select...</option>
                                <option v-for="item in objects" :value="item.object">{{item.object}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">
                    <div class="field">
                        <label class="label">Salesforce Field</label>
                        <div class="select">
                            <select v-model="sfSelectedField">
                                <option value="">Select...</option>
                                <option v-for="item in sffields" :value="item.id" v-if="item.object == sfSelectedObject">{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button" v-on:click="relate" v-if="spin" class="fa fa-wrench fa-spin">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['pmfields', 'sffields', 'objects'],
        data()
        {
            return {
                pmSelectedField: '',
                sfSelectedObject: '',
                sfSelectedField: '',
                spin: false
            }
        },
        methods: {
            relate() {
                this.spin = true;
                
                // axios/ajax save to backend
                var data = { 
                    sf_field: this.sfSelectedField, 
                    pm_field: this.pmSelectedField 
                };
                axios.post("/fields/relate", data).then((response) => {
                    // success
                    this.spin = false;
                }, (error) => {
                    // failure
                    this.spin = false;
                });
            }
        }
    }
</script>