<template>
    <div>
        <div class="subtitle">Portfolio Manager Fields</div>
        <div class="box">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Field Name</th>
                        <th>Valid</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in fields">
                        <td>{{item.label}}</td>
                        <td>
                            <i v-if="item.status == 1" class="fa fa-thumbs-o-up has-text-success"></i>
                            <i v-else class="fa fa-thumbs-o-down has-text-danger"></i>
                        </td>
                        <td>{{moment(item.updated_at).format('M/D/YYYY')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['fields'],
    }
</script>