<template>
    <div class="box">
        <div class="subtitle">Settings</div>
        <h4>Pull/Parse field data & schedule</h4>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" v-on:click="refresh('pm')">Refresh PM Data &nbsp;<i v-if="pmspin" class="fa fa-wrench fa-spin" aria-hidden="true"></i></button>
            </div>
            <div class="control">
                <button class="button is-link" v-on:click="refresh('sf')">Refresh Salesforce Data &nbsp;<i v-if="sfspin" class="fa fa-wrench fa-spin" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                pmspin: false,
                sfspin: false
            }
        },
        methods: {
            refresh(data) {
                var ans = prompt("Please enter the password for this function", "");
                if (ans != null) {
                    if (ans != '') {
                        if (ans == '12345') {
                            if (data == 'pm') {
                                this.pmspin = true;
                            } else {
                                this.sfspin = true;
                            }
                            axios.post("/fields/" + data).then((response) => {
                                // on success
                                if (data == 'pm') {
                                    this.pmspin = false;
                                } else {
                                    this.sfspin = false;
                                }
                            }, (error) => {
                                // on fail
                            });
                        }
                    }
                }
            }
        }
    }
</script>